#ezsense_team{
  font-family: inherit;
  font-size: 50px;
  font-style: bold;
  text-align: center;
  color: red;
}

img {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 25%;
  float: left;
}

.circle1 {
	width: 150px;
	height: 150px;
	background: green;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 80px;
  margin-left: 300px;
}

.circle2 {
	width: 150px;
	height: 150px;
	background: green;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 80px;
  margin-left: 400px;
}

.rectangle1 {
	width: 620px;
	height: 150px;
  border-radius: 20px;
	background: red;
  margin-left: 200px;
}

.rectangle2 {
	width: 620px;
	height: 150px;
  border-radius: 20px;
	background: red;
  margin-left: 200px;
}
