header{
  background-color: #333;
  margin-top: 0;
}

h1{
  margin-top: 0;
}

#title{
  color:blue;
  text-align: right;
  padding-right: 50px;
  font-size: 30px;
  margin-top: 0;
  font-family: sans-serif;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #333;
}

li{
  float: left;
}

li a{
  display: block;
  padding: 14px;
  background-color: #333;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-left: 30px;
}

li a:hover{
  background-color: black;
}

#temp_graph{
	width: 600px;
	height: 300px;
	background: blue;
  opacity: 0.5;
  float: left;
  margin-left: 40px;
}

#temp_graph_text{
  position: relative;
  left: 40px;
}

#temp_bubble {
   width: 550px;
   height: 300px;
   background: red;
   position: relative;
   left: 800px;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
#temp_bubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid red;
   border-bottom: 13px solid transparent;
}
