<html>
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='ov.css') }}">
      <title> Ovulation </title>
  </head>

  <body>

  <header>
    <div id = "navbar">
    <ul>
      <li>  <a href="ovulation_trends.html"> Ovulation Trends</a> </li>
      <li>  <a href="ovulation_trends.html"> Login </a></li>
      <li>  <a href="ovulation_trends.html"> Check Trends </a></li>
      <li>  <a href="temperature_trends.html"> Fever </a></li>
    </ul>
  </div>
    <div id = "title">
      <h1> <a href="home.html">EZSense</a> </h1>
    </div>
  </header>

  <h2> Ovulation Trends </h2>
  <div id = "ovulation_data">
    <h2> Ovulation Data Below </h2>
  </div>

</body>


</html>
